:root{
    --purple: #722ed1;
    --dark:#000000;
    --cyan:#1ff1f1;
    --white:#fff;
    --neon-green:#00ff88;
    --red:#ff0000;
    --blue:#0000ff;
    --yellow:#ffff00;
    --wine:#722F37;

}

header{
    background-color: #272727;
    text-align: center;
    padding: 20px;
}

.logo{
    font-size: 30px;
    color: var(--white);
    font-family: serif;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 12px;
    display: inline-block;
    width: 100%;
    text-align: center;
}

.logo span{
    color: var(--wine);
}

body{
    text-align: center;
    font-family: sans-serif;
    background-color: var(--dark);
    margin: 0;
    padding: 0;
}

.descricao{
    display:grid;
    grid-template-columns:repeat(auto-fit, minmax(250px, 1fr));
    gap:20px;
    margin-top:20px;
    padding:0 100px;
}

.descricao-card1{
    background:var(--white);
    border-radius:10px;
    overflow:hidden;
    transition:transform 0.3 ease;
    color: var(--dark);
    padding: 0 20px;
    border:3px solid var(--blue);
}
.descricao-card2{
    background:var(--white);
    border-radius:10px;
    overflow:hidden;
    transition:transform 0.3 ease;
    color: var(--dark);
    padding: 0 20px;
    border:3px solid var(--blue);
}
.descricao-card3{
    background:var(--white);
    border-radius:10px;
    overflow:hidden;
    transition:transform 0.3 ease;
    color: var(--dark);
    padding: 0 20px;
    border:3px solid var(--blue);
}
.descricao-card4{
    background:var(--white);
    border-radius:10px;
    overflow:hidden;
    transition:transform 0.3 ease;
    color: var(--dark);
    padding: 0 20px;
    border:3px solid var(--blue);
}
.descricao-card5{
    background:var(--white);
    border-radius:10px;
    overflow:hidden;
    transition:transform 0.3 ease;
    color: var(--dark);
    padding: 0 20px;
    border:3px solid var(--blue);
}
.descricao-card6{
    background:var(--white);
    border-radius:10px;
    overflow:hidden;
    transition:transform 0.3 ease;
    color: var(--dark);
    padding: 0 20px;
    border:3px solid var(--blue);
}

#subtitulo{
    font-size: 25px;
    color: var(--white);
    text-align: center;
}

#abertura-descricao {
    color: var(--white);
    padding-left: 10px;
    margin-top: 4px;
}

#imagem1{
    border-radius: 5px;
    object-fit: cover;
    width: 500px;
    height: 300px;
    padding: 0 100px;
}

#imagem2{
    border-radius: 5px;
    object-fit: cover;
    width: 450px;
    height: 300px;
    padding: 0 70px;
}

#imagem3{
    border-radius: 5px;
    object-fit: cover;
    width: 420px;
    height: 300px;
    padding: 0 90px;
}